<div class="video-overlay"></div>
  <video playsinline autoplay muted loop class="video hidden-xs hidden-sm">
    <source src="/public/video.mp4" type="video/mp4">
  </video>

  <img src="/public/video.jpg" class="video hidden-md hidden-lg">
